<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
  <appSettings>
    <add key="Server" value="LAPTOP-UT9GRS7M\SQL2019" />
    <add key="Usuario" value="sa" />
    <add key="Clave" value="Tatinga2014" />
    <add key="BD" value="SummaDesarrollo" />
    <add key="BDOrigen" value="SummaDesarrollo" />
    <add key="BDMaster" value="SummaAdvMstr" />
    <add key="UbicDisenador" value="C:\V3\SummaAdvanced\Servicio\Actions\SummaAdvDiseniador.exe" />
  </appSettings>
</configuration>