<?xml version="1.0" encoding="utf-8"?>
<configuration>
<appSettings>
    <add key="UbicacionDLLs" value="C:\V3\SummaAdvancedQ\Servicio\Actions\" />
    <add key="Instalacion" value="Desarrollo" />
    <add key="Usuario" value="fmazzaro" />
    <add key="Dominio" value="AR" />
    <add key="Version" value="V3" />
</appSettings>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
	</startup>
	<system.serviceModel>
		<bindings>
			<basicHttpBinding>
				<binding name="SummaAdvancedSoap">
					<security mode="Transport" />
				</binding>
				<binding name="SummaAdvancedSoap1" />
				<binding name="regActualizacionesWSSoap">
					<security mode="Transport" />
				</binding>
			</basicHttpBinding>
			<netTcpBinding>
				<binding name="NetTcpBindingEndpoint" maxBufferPoolSize="2131072"
      maxBufferSize="2131072" maxReceivedMessageSize="2131072">
					<readerQuotas maxDepth="32" maxStringContentLength="2131072"
       maxArrayLength="2131072" maxBytesPerRead="2131072" maxNameTableCharCount="2131072" />
					<security mode="None">
						<transport clientCredentialType="None" />
						<message clientCredentialType="None" />
					</security>
				</binding>
			</netTcpBinding>
		</bindings>
		<client>
			<endpoint address="net.tcp://localhost:6019/WCFServicioQBI" binding="netTcpBinding"
     bindingConfiguration="NetTcpBindingEndpoint" contract="QBIServicio.IQBIManejoDeAcciones"
     name="NetTcpBindingEndpoint">
				<identity>
					<dns value="localhost" />
				</identity>
			</endpoint>
			<endpoint address="https://adv.quasarglobal.com/AdvPruebas/WebService/regActualizaciones/regActualizacionesWS.asmx"
        binding="basicHttpBinding" bindingConfiguration="regActualizacionesWSSoap"
        contract="regActualizacionesWS.regActualizacionesWSSoap" name="regActualizacionesWSSoap" />

			<endpoint address="https://adv.quasarglobal.com/AdvPruebas/WebServices/SummaAdvanced.asmx"
     binding="basicHttpBinding" bindingConfiguration="SummaAdvancedSoap"
     contract="SummaWS.SummaAdvancedSoap" name="SummaAdvancedSoap" />
		</client>
	</system.serviceModel>

	<runtime>

		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">

			<dependentAssembly>

				<assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />

				<bindingRedirect oldVersion="0.0.0.0-13.0.0.0" newVersion="13.0.0.0" />

			</dependentAssembly>

		</assemblyBinding>

	</runtime>
</configuration>
