<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="ActivoFijoReportes.Properties.Settings.PumoAdvConnectionString"
            connectionString="Data Source=ARGENTA;Initial Catalog=PumoAdv;User ID=summalogin;Password=tatinga"
            providerName="System.Data.SqlClient" />
        <add name="ActivoFijoReportes.Properties.Settings.MontanaAdvConnectionString"
            connectionString="Data Source=ARQUIMEDES\SQL2014;Initial Catalog=MontanaAdv;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>