<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="SueldosInfomres.Properties.Settings.MancillaAdvConnectionString"
            connectionString="Data Source=ARGENTA;Initial Catalog=MancillaAdv;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="SueldosInfomres.Properties.Settings.MancillaAdvConnectionString1"
            connectionString="Data Source=.\sqlexpress;Initial Catalog=MancillaAdv;Persist Security Info=True;User ID=sa;Password=tatinga123"
            providerName="System.Data.SqlClient" />
        <add name="SueldosInfomres.Properties.Settings.MontanaAdvConnectionString"
            connectionString="Data Source=ARQUIMEDES\SQL2014;Initial Catalog=MontanaAdv;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="SueldosInfomres.Properties.Settings.Grupo2BYBConnectionString"
            connectionString="Data Source=Pandemia;Initial Catalog=Grupo2BYB;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="SueldosInfomres.Properties.Settings.FerguezAdvConnectionString"
            connectionString="Data Source=PANDEMIA;Initial Catalog=FerguezAdv;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="SueldosInfomres.Properties.Settings.TurnerAdvConnectionString"
            connectionString="Data Source=pandemia;Initial Catalog=TurnerAdv;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>