<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="TesoreriaReportes.Properties.Settings.SummaAdvQAConnectionString"
            connectionString="Data Source=BJ10\SQLEXPRESS2014;Initial Catalog=SummaAdvQA;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="TesoreriaReportes.Properties.Settings.Elias" connectionString="Data Source=DESKTOP-E87QDSS\SQL;Initial Catalog=SummaAdv;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="TesoreriaReportes.Properties.Settings.stkAnamoviStock"
            connectionString="Data Source=ARGENTA;Initial Catalog=SummaAdv;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="TesoreriaReportes.Properties.Settings.Ysera" connectionString="Data Source=.\Ysera;Initial Catalog=SummaAdv;Persist Security Info=True;User ID=sa"
            providerName="System.Data.SqlClient" />
        <add name="TesoreriaReportes.Properties.Settings.PCJAVIER" connectionString="Data Source=PCJAVIER\SQL2014;Initial Catalog=SummaAdv;Persist Security Info=True;User ID=summalogin;Password=tatinga"
            providerName="System.Data.SqlClient" />
        <add name="TesoreriaReportes.Properties.Settings.ArgentaConnectionString"
            connectionString="Data Source=ARGENTA;Initial Catalog=SummaAdv;Persist Security Info=True;User ID=SummaLogin;Password=tatinga"
            providerName="System.Data.SqlClient" />
        <add name="TesoreriaReportes.Properties.Settings.PumoAdvConnectionString"
            connectionString="Data Source=ARGENTA;Initial Catalog=PumoAdv;User ID=summalogin;Password=tatinga"
            providerName="System.Data.SqlClient" />
        <add name="TesoreriaReportes.Properties.Settings.AlexstraszaYsera"
            connectionString="Data Source=Alexstrasza\Ysera;Initial Catalog=PumoAdv;User ID=sa;Password=esmmp5"
            providerName="System.Data.SqlClient" />
        <add name="TesoreriaReportes.Properties.Settings.kloemecomadvConnectionString"
            connectionString="Data Source=ARGENTA;Initial Catalog=kloemecomadv;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="TesoreriaReportes.Properties.Settings.MontanaAdvProdConnectionString"
            connectionString="Data Source=ARGENTA;Initial Catalog=MontanaAdvProd;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="TesoreriaReportes.Properties.Settings.LaCasaAdvConnectionString"
            connectionString="Data Source=argenta\SQL2019;Initial Catalog=LaCasaAdv;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="TesoreriaReportes.Properties.Settings.MontanaAdvConnectionString"
            connectionString="Data Source=ARQUIMEDES\SQL2014;Initial Catalog=MontanaAdv;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="TesoreriaReportes.Properties.Settings.RensaAdvConnectionString"
            connectionString="Data Source=pandemia;Initial Catalog=RensaAdv;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="TesoreriaReportes.Properties.Settings.SummaAdvArPrueba"
            connectionString="Data Source=DESKTOP-RDK3O0O\SQLEXPRESS2019;Initial Catalog=SummaAdvArPrueba;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>