<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="ContabilidadReportes.Properties.Settings.SummaAdvConnectionString"
            connectionString="Data Source=ARGENTA;Initial Catalog=SummaAdv;Persist Security Info=True;User ID=summalogin"
            providerName="System.Data.SqlClient" />
        <add name="ContabilidadReportes.Properties.Settings.PumoAdvConnectionString"
            connectionString="Data Source=ARGENTA;Initial Catalog=PumoAdv;User ID=summalogin;Password=tatinga"
            providerName="System.Data.SqlClient" />
        <add name="ContabilidadReportes.Properties.Settings.PumoAdvConnectionString1"
            connectionString="Data Source=ARGENTA;Initial Catalog=PumoAdv;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="ContabilidadReportes.Properties.Settings.MontanaAdvConnectionString"
            connectionString="Data Source=ARQUIMEDES\SQL2014;Initial Catalog=MontanaAdv;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="ContabilidadReportes.Properties.Settings.MontanaAdvConnectionString1"
            connectionString="Data Source=ARQUIMEDES\SQL2014;Initial Catalog=MontanaAdv;User ID=summalogin;Password=tatinga"
            providerName="System.Data.SqlClient" />
        <add name="ContabilidadReportes.Properties.Settings.Grupo2BYBConnectionString"
            connectionString="Data Source=Pandemia;Initial Catalog=Grupo2BYB;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="ContabilidadReportes.Properties.Settings.RensaAdvConnectionString"
            connectionString="Data Source=pandemia;Initial Catalog=RensaAdv;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>