<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="VentasReportes.My.MySettings.SummaAdvConnectionString"
            connectionString="Data Source=TAKITOHP\SQL2008R2;Initial Catalog=SummaAdv;Persist Security Info=True;User ID=summalogin;Password=tatinga"
            providerName="System.Data.SqlClient" />
        <add name="VentasReportes.My.MySettings.ARGENTA" connectionString="Data Source=ARGENTA;Initial Catalog=SummaAdv;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="VentasReportes.My.MySettings.sergio" connectionString="Data Source=DESKTOP-0NDVAPE\SQLEXPRESS;Initial Catalog=SummaAdv;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="VentasReportes.My.MySettings.FM" connectionString="Data Source=BJ10\SQLEXPRESS2014;Initial Catalog=SummaAdvQA;Persist Security Info=True;User ID=sa;Password=tatinga2014"
            providerName="System.Data.SqlClient" />
        <add name="VentasReportes.My.MySettings.Elias" connectionString="Data Source=ARGENTA;Initial Catalog=SummaAdv;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="VentasReportes.My.MySettings.Ariel" connectionString="Data Source=ARGENTA;Initial Catalog=SummaAdv;Persist Security Info=True;User ID=SummaLogin;Password=tatinga"
            providerName="System.Data.SqlClient" />
        <add name="VentasReportes.My.MySettings.PCJAVIER" connectionString="Data Source=PCJAVIER\SQL2014;Initial Catalog=SummaAdv;Persist Security Info=True;User ID=summalogin;Password=tatinga"
            providerName="System.Data.SqlClient" />
        <add name="VentasReportes.My.MySettings.PumoAdvConnectionString"
            connectionString="Data Source=ARGENTA;Initial Catalog=PumoAdv;User ID=summalogin;Password=tatinga"
            providerName="System.Data.SqlClient" />
        <add name="VentasReportes.My.MySettings.Ysera_Pumo" connectionString="Data Source=.\Ysera;Initial Catalog=PumoAdv;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="VentasReportes.My.MySettings.SummaAdvQAConnectionString"
            connectionString="Data Source=ALEPC\SQLEXPRESS2014;Initial Catalog=SummaAdvQA;Persist Security Info=True;User ID=sa"
            providerName="System.Data.SqlClient" />
        <add name="VentasReportes.My.MySettings.BiomilleAdvConnectionString"
            connectionString="Data Source=ALEPC\SQLEXPRESS2014;Initial Catalog=BiomilleAdv;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="VentasReportes.My.MySettings.FultererAdvConnectionString"
            connectionString="Data Source=ARGENTA;Initial Catalog=FultererAdv;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="VentasReportes.My.MySettings.kloemecomadvConnectionString"
            connectionString="Data Source=ARGENTA;Initial Catalog=kloemecomadv;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="VentasReportes.My.MySettings.MontanaAdvProdConnectionString"
            connectionString="Data Source=ARGENTA;Initial Catalog=MontanaAdvProd;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="VentasReportes.My.MySettings.LaCasaAdvConnectionString"
            connectionString="Data Source=argenta\SQL2019;Initial Catalog=LaCasaAdv;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="VentasReportes.My.MySettings.MontanaAdvConnectionString"
            connectionString="Data Source=ARQUIMEDES\SQL2014;Initial Catalog=MontanaAdv;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="VentasReportes.My.MySettings.MontanaAdvConnectionString1"
            connectionString="Data Source=ARQUIMEDES\SQL2014;Initial Catalog=MontanaAdv;User ID=summalogin"
            providerName="System.Data.SqlClient" />
        <add name="VentasReportes.My.MySettings.Grupo2BYBConnectionString"
            connectionString="Data Source=Pandemia;Initial Catalog=Grupo2BYB;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="VentasReportes.My.MySettings.MoeltekAdvConnectionString"
            connectionString="Data Source=PANDEMIA;Initial Catalog=MoeltekAdv;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="VentasReportes.My.MySettings.Grupo2BYBConnectionString1"
            connectionString="Data Source=.\Ysera;Initial Catalog=Grupo2BYB;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="VentasReportes.My.MySettings.LaCasaAdvConnectionString1"
            connectionString="Data Source=DESKTOP-0NDVAPE;Initial Catalog=LaCasaAdv;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="VentasReportes.My.MySettings.KloemecomAdvConnectionString1"
            connectionString="Data Source=DESKTOP-0NDVAPE;Initial Catalog=KloemecomAdv;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="VentasReportes.My.MySettings.FerrepreciosAdvConnectionString"
            connectionString="Data Source=PANDEMIA;Initial Catalog=FerrepreciosAdv;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="VentasReportes.My.MySettings.RensaAdvConnectionString"
            connectionString="Data Source=pandemia;Initial Catalog=RensaAdv;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="VentasReportes.My.MySettings.Grupo2BYBSergio" connectionString="Data Source=DESKTOP-0NDVAPE;Initial Catalog=Grupo2BYB;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="VentasReportes.My.MySettings.TransportesVVAdvConnectionString"
            connectionString="Data Source=PANDEMIA;Initial Catalog=TransportesVVAdv;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="VentasReportes.My.MySettings.PPCAdvConnectionString"
            connectionString="Data Source=PANDEMIA;Initial Catalog=PPCAdv;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="VentasReportes.My.MySettings.KloemecomAdvConnectionString2"
            connectionString="Data Source=PANDEMIA;Initial Catalog=KloemecomAdv;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="VentasReportes.My.MySettings.AmericoldAdvConnectionString"
            connectionString="Data Source=DESKTOP-MPHQQKR\SQLEXPRESS;Initial Catalog=AmericoldAdv;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="VentasReportes.My.MySettings.AmericoldAdvConnectionString1"
            connectionString="Data Source=DESKTOP-MPHQQKR\SQLEXPRESS;Initial Catalog=AmericoldAdv;User ID=sa"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <system.diagnostics>
        <sources>
            <!-- This section defines the logging configuration for My.Application.Log -->
            <source name="DefaultSource" switchName="DefaultSwitch">
                <listeners>
                    <add name="FileLog"/>
                    <!-- Uncomment the below section to write to the Application Event Log -->
                    <!--<add name="EventLog"/>-->
                </listeners>
            </source>
        </sources>
        <switches>
            <add name="DefaultSwitch" value="Information" />
        </switches>
        <sharedListeners>
            <add name="FileLog"
                 type="Microsoft.VisualBasic.Logging.FileLogTraceListener, Microsoft.VisualBasic, Version=8.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a, processorArchitecture=MSIL"
                 initializeData="FileLogWriter"/>
            <!-- Uncomment the below section and replace APPLICATION_NAME with the name of your application to write to the Application Event Log -->
            <!--<add name="EventLog" type="System.Diagnostics.EventLogTraceListener" initializeData="APPLICATION_NAME"/> -->
        </sharedListeners>
    </system.diagnostics>
</configuration>
