<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="InventariosReportes.Properties.Settings.SummaAdvConnectionString"
            connectionString="Data Source=PCJAVIER;Initial Catalog=SummaAdv;Persist Security Info=True;User ID=summalogin;Password=tatinga"
            providerName="System.Data.SqlClient" />
        <add name="InventariosReportes.Properties.Settings.Elias_Ysera"
            connectionString="Data Source=.\Ysera;Initial Catalog=SummaAdv;User ID=sa;Password=esmmp5"
            providerName="System.Data.SqlClient" />
        <add name="InventariosReportes.Properties.Settings.RomaAdvConnectionString"
            connectionString="Data Source=ARGENTA;Initial Catalog=RomaAdv;Persist Security Info=True;User ID=summalogin;Password=tatinga"
            providerName="System.Data.SqlClient" />
        <add name="InventariosReportes.Properties.Settings.PumoAdvConnectionString"
            connectionString="Data Source=ARGENTA;Initial Catalog=PumoAdv;User ID=summalogin;Password=tatinga"
            providerName="System.Data.SqlClient" />
        <add name="InventariosReportes.Properties.Settings.SummaAdvQAConnectionString"
            connectionString="Data Source=ALEPC\SQLEXPRESS2014;Initial Catalog=SummaAdvQA;Persist Security Info=True;User ID=sa"
            providerName="System.Data.SqlClient" />
        <add name="InventariosReportes.Properties.Settings.BaseStdAdvConnectionString"
            connectionString="Data Source=ARGENTA;Initial Catalog=BaseStdAdv;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="InventariosReportes.Properties.Settings.MontanaAdvConnectionString"
            connectionString="Data Source=ARQUIMEDES\SQL2014;Initial Catalog=MontanaAdv;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="InventariosReportes.Properties.Settings.Grupo2BYBConnectionString"
            connectionString="Data Source=Pandemia;Initial Catalog=Grupo2BYB;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="InventariosReportes.Properties.Settings.KloemecomAdvConnectionString"
            connectionString="Data Source=PANDEMIA;Initial Catalog=KloemecomAdv;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="InventariosReportes.Properties.Settings.KloemecomAdvConnectionString1"
            connectionString="Data Source=DESKTOP-0NDVAPE;Initial Catalog=KloemecomAdv;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="InventariosReportes.Properties.Settings.Elias_Discovery"
            connectionString="Data Source=Discovery;Initial Catalog=FerrepreciosAdv;Persist Security Info=True;User ID=sa"
            providerName="System.Data.SqlClient" />
        <add name="InventariosReportes.Properties.Settings.FerrepreciosAdvConnectionString"
            connectionString="Data Source=PANDEMIA;Initial Catalog=FerrepreciosAdv;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="InventariosReportes.Properties.Settings.RensaAdvConnectionString"
            connectionString="Data Source=pandemia;Initial Catalog=RensaAdv;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="InventariosReportes.Properties.Settings.PPCAdvConnectionString"
            connectionString="Data Source=PANDEMIA;Initial Catalog=PPCAdv;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="InventariosReportes.Properties.Settings.MoeltekAdvConnectionString"
            connectionString="Data Source=PANDEMIA;Initial Catalog=MoeltekAdv;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>