<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="ImpuestosReportes.Properties.Settings.PumoAdvConnectionString"
            connectionString="Data Source=DESKTOP-GN897O5\SQL2014;Initial Catalog=PumoAdv;Persist Security Info=True;User ID=summalogin;Password=tatinga"
            providerName="System.Data.SqlClient" />
        <add name="ImpuestosReportes.Properties.Settings.SummaAdvQAConnectionString"
            connectionString="Data Source=ALEPC\SQLEXPRESS2014;Initial Catalog=SummaAdvQA;Persist Security Info=True;User ID=sa"
            providerName="System.Data.SqlClient" />
        <add name="ImpuestosReportes.Properties.Settings.MontanaAdvProdConnectionString"
            connectionString="Data Source=ARGENTA;Initial Catalog=MontanaAdvProd;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="ImpuestosReportes.Properties.Settings.MancillaAdvConnectionString"
            connectionString="Data Source=DESKTOP-GN897O5\SQL2014;Initial Catalog=MancillaAdv;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="ImpuestosReportes.Properties.Settings.MancillaAdvConnectionString1"
            connectionString="Data Source=DESKTOP-GN897O5;Initial Catalog=MancillaAdv;Persist Security Info=True;User ID=summalogin;Password=tatinga"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>