<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <handlers>
            <add name="OLAP" path="*.dll" verb="*" modules="IsapiModule" scriptProcessor="C:\SummaAdvancedQ\FEWeb\SummaAdvanced\SummaWeb\OLAP\msmdpump.dll" resourceType="File" requireAccess="Script" preCondition="bitness64" />
        </handlers>
	 <httpProtocol>
     <customHeaders>
       <add name="Access-Control-Allow-Origin" value="*" />
     </customHeaders>
   </httpProtocol>
 </system.webServer>
</configuration>


