<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="AmericoldReportesCommon.Properties.Settings.AmericoldAdvArConnectionString"
            connectionString="Data Source=DESKTOP-MPHQQKR\SQLEXPRESS;Initial Catalog=AmericoldAdvAr;User ID=sa;Password=tatinga"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>