<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_ISolicitaDescargaService" maxBufferSize="1073741824" maxReceivedMessageSize="1073741824">
          <security mode="Transport"/>
        </binding>
        <binding name="BasicHttpBinding_IVerificaSolicitudDescargaService" maxBufferSize="1073741824" maxReceivedMessageSize="1073741824">
          <security mode="Transport"/>
        </binding>
        <binding name="BasicHttpBinding_IDescargaMasivaTercerosService" maxBufferSize="1073741824" maxReceivedMessageSize="1073741824">
          <security mode="Transport"/>
        </binding>
        <binding name="BasicHttpBinding_IAutenticacion" maxBufferSize="1073741824" maxReceivedMessageSize="1073741824">
          <security mode="TransportWithMessageCredential">
            <message clientCredentialType="Certificate"/>
          </security>
        </binding>
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="https://cfdidescargamasivasolicitud.clouda.sat.gob.mx/SolicitaDescargaService.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ISolicitaDescargaService" contract="Requester.ISolicitaDescargaService" name="BasicHttpBinding_ISolicitaDescargaService"/>
      <endpoint address="https://cfdidescargamasivasolicitud.clouda.sat.gob.mx/VerificaSolicitudDescargaService.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IVerificaSolicitudDescargaService" contract="Verifier.IVerificaSolicitudDescargaService" name="BasicHttpBinding_IVerificaSolicitudDescargaService"/>
      <endpoint address="https://cfdidescargamasiva.clouda.sat.gob.mx/DescargaMasivaService.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IDescargaMasivaTercerosService" contract="Downloader.IDescargaMasivaTercerosService" name="BasicHttpBinding_IDescargaMasivaTercerosService"/>
      <endpoint address="https://cfdidescargamasivasolicitud.clouda.sat.gob.mx/Autenticacion/Autenticacion.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IAutenticacion" contract="Authenticator.IAutenticacion" name="BasicHttpBinding_IAutenticacion"/>
    </client>
  </system.serviceModel>
</configuration>
