<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="TimbradoCFDServiceExternalSoap">
                    <security mode="Transport" />
                </binding>
                <binding name="TimbradoCFDServiceExternalSoap1" />
                <binding name="CFDiSoapBinding">
                    <security mode="Transport" />
                </binding>
                <binding name="CFDiSoapBinding1" />
                <binding name="TimbradoSoap11Binding">
                    <security mode="Transport" />
                </binding>
                <binding name="TimbradoSoap11Binding1" />
                <binding name="WSCFDBuilderPlusSoap" />
                <binding name="BasicHttpBinding_ITimbre">
                    <security mode="Transport" />
                </binding>
            </basicHttpBinding>
            <customBinding>
                <binding name="TimbradoSoap12Binding">
                    <textMessageEncoding messageVersion="Soap12" />
                    <httpsTransport />
                </binding>
                <binding name="TimbradoPortBinding">
                    <mtomMessageEncoding messageVersion="Soap12" />
                    <httpsTransport />
                </binding>
            </customBinding>
        </bindings>
        <client>
            <endpoint address="https://www.masfacturaweb.com.mx:99/TimbradoCFDServiceExternal.asmx"
                binding="basicHttpBinding" bindingConfiguration="TimbradoCFDServiceExternalSoap"
                contract="MasterEdi33.TimbradoCFDServiceExternalSoap" name="TimbradoCFDServiceExternalSoap" />
            <endpoint address="https://cfdiws.sedeb2b.com/EdiwinWS/services/CFDi"
                binding="basicHttpBinding" bindingConfiguration="CFDiSoapBinding"
                contract="Edicom.CFDi" name="CFDi" />
            <endpoint address="https://testing.solucionfactible.com/ws/services/Timbrado.TimbradoHttpsSoap11Endpoint/"
                binding="basicHttpBinding" bindingConfiguration="TimbradoSoap11Binding"
                contract="sSolucionFactible.TimbradoPortType" name="TimbradoHttpsSoap11Endpoint" />
            <endpoint address="http://testing.solucionfactible.com/ws/services/Timbrado.TimbradoHttpSoap11Endpoint/"
                binding="basicHttpBinding" bindingConfiguration="TimbradoSoap11Binding1"
                contract="sSolucionFactible.TimbradoPortType" name="TimbradoHttpSoap11Endpoint" />
            <endpoint address="http://testing.solucionfactible.com/ws/services/Timbrado.TimbradoHttpSoap12Endpoint/"
                binding="customBinding" bindingConfiguration="TimbradoSoap12Binding"
                contract="sSolucionFactible.TimbradoPortType" name="TimbradoHttpSoap12Endpoint" />
            <endpoint address="https://testing.solucionfactible.com/ws/services/Timbrado.TimbradoHttpsSoap12Endpoint/"
                binding="customBinding" bindingConfiguration="TimbradoSoap12Binding"
                contract="sSolucionFactible.TimbradoPortType" name="TimbradoHttpsSoap12Endpoint" />
            <endpoint address="http://148.244.217.106/WSCFDBuilderPlusTurbo33/WSCFDBuilderPlus.asmx"
                binding="basicHttpBinding" bindingConfiguration="WSCFDBuilderPlusSoap"
                contract="eKomercio33.WSCFDBuilderPlusSoap" name="WSCFDBuilderPlusSoap" />
            <endpoint address="https://go.reachcore.com/api/ws/6.0/pacservices/Timbre.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ITimbre"
                contract="Advantage.ITimbre" name="BasicHttpBinding_ITimbre" />
            <endpoint address="https://pac.stofactura.com:443/pac-sto-ws/cfdi33"
                binding="customBinding" bindingConfiguration="TimbradoPortBinding"
                contract="Sto.Timbrado" name="TimbradoPort" />
        </client>
    </system.serviceModel>
</configuration>