<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="StockReportesCommon.Properties.Settings.Grupo2BYBConnectionString"
            connectionString="Data Source=Pandemia;Initial Catalog=Grupo2BYB;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>