<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="VentasBEFactElect.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="WSCFDBuilderPlusSoap" />
                <binding name="soapHttpEndpoint" />
                <binding name="TimbradoSoap11Binding">
                    <security mode="Transport" />
                </binding>
                <binding name="TimbradoSoap11Binding1">
                    <security mode="Transport" />
                </binding>
                <binding name="TimbradoSoap11Binding2" />
                <binding name="WSTimbreSoap">
                    <security mode="Transport" />
                </binding>
                <binding name="WSTimbreSoap1" />
                <binding name="BasicHttpBinding_IConsultaCFDIService">
                    <security mode="Transport" />
                </binding>
                <binding name="SatCancellationServiceSoap" />
                <binding name="wseDocReciboSoap" />
                <binding name="MassiveReceptionControllerImplPortBinding" messageEncoding="Mtom">
                    <security mode="Transport" />
                </binding>
                <binding name="MassiveReceptionControllerImplPortBinding1" messageEncoding="Mtom" />
                <binding name="TimbradoCFDServiceExternalSoap">
                    <security mode="Transport" />
                </binding>
                <binding name="TimbradoCFDServiceExternalSoap1" />
                <binding name="SyscomCfdiTestWSPortBinding" />
                <binding name="soapHttpEndpoint1" />
                <binding name="CFDiSoapBinding">
                    <security mode="Transport" />
                </binding>
                <binding name="CFDiSoapBinding1" />
                <binding name="WSCFDICancelacionSoap" />
                <binding name="BasicHttpBinding_IServicioTimbrado" />
                <binding name="BasicHttpBinding_IService1" />
                <binding name="cancelacion_binding">
                    <security mode="Transport" />
                </binding>
                <binding name="cancelacion_binding1" />
                <binding name="BasicHttpBinding_IService11" />
                <binding name="BasicHttpsBinding_IService1">
                    <security mode="Transport" />
                </binding>
                <binding name="BasicHttpBinding_IService12" />
                <binding name="BasicHttpsBinding_IService11">
                    <security mode="Transport" />
                </binding>
                <binding name="wsCFDISoap">
                    <security mode="Transport" />
                </binding>
                <binding name="wsCFDISoap1" />
                <binding name="timbrado_cfdi40_binding">
                    <security mode="Transport" />
                </binding>
                <binding name="timbrado_cfdi40_binding1" />
                <binding name="WSCFDITimbradoSoap" />
            </basicHttpBinding>
            <customBinding>
                <binding name="TimbradoSoap12Binding">
                    <textMessageEncoding messageVersion="Soap12" />
                    <httpsTransport />
                </binding>
                <binding name="TimbradoPortBinding">
                    <mtomMessageEncoding messageVersion="Soap12" />
                    <httpsTransport />
                </binding>
            </customBinding>
        </bindings>
        <client>
            <endpoint address="https://testing.solucionfactible.com/ws/services/Timbrado.TimbradoHttpsSoap11Endpoint/"
                binding="basicHttpBinding" bindingConfiguration="TimbradoSoap11Binding"
                contract="sSolucionFactible.TimbradoPortType" name="TimbradoHttpsSoap11Endpoint" />
            <endpoint address="https://testing.solucionfactible.com/ws/services/Timbrado.TimbradoHttpSoap11Endpoint/"
                binding="basicHttpBinding" bindingConfiguration="TimbradoSoap11Binding1"
                contract="sSolucionFactible.TimbradoPortType" name="TimbradoHttpSoap11Endpoint" />
            <endpoint address="https://testing.solucionfactible.com/ws/services/Timbrado.TimbradoHttpSoap12Endpoint/"
                binding="customBinding" bindingConfiguration="TimbradoSoap12Binding"
                contract="sSolucionFactible.TimbradoPortType" name="TimbradoHttpSoap12Endpoint" />
            <endpoint address="https://testing.solucionfactible.com/ws/services/Timbrado.TimbradoHttpsSoap12Endpoint/"
                binding="customBinding" bindingConfiguration="TimbradoSoap12Binding"
                contract="sSolucionFactible.TimbradoPortType" name="TimbradoHttpsSoap12Endpoint" />
            <endpoint address="https://api.reachcore.com/RCTimbre32/WSTimbre.asmx"
                binding="basicHttpBinding" bindingConfiguration="WSTimbreSoap"
                contract="Advantage.WSTimbreSoap" name="WSTimbreSoap" />
            <endpoint address="http://prepwww.buzone.com.mx/WsInterfaceSAT/SATCancellationService.asmx"
                binding="basicHttpBinding" bindingConfiguration="SatCancellationServiceSoap"
                contract="eBuzonCancela.SatCancellationServiceSoap" name="SatCancellationServiceSoap" />
            <endpoint address="http://www2.soriana.com/integracion/recibecfd/wseDocRecibo.asmx"
                binding="basicHttpBinding" bindingConfiguration="wseDocReciboSoap"
                contract="Soriana.wseDocReciboSoap" name="wseDocReciboSoap" />
            <endpoint address="https://pac.stofactura.com:443/pac-massive-ws/CfdMassStamper"
                binding="basicHttpBinding" bindingConfiguration="MassiveReceptionControllerImplPortBinding"
                contract="Sto.MassiveReceptionControllerImpl" name="MassiveReceptionControllerImplPort" />
            <endpoint address="http://148.244.218.65/WSCFDBuilderPlusTurbo/WSCFDBuilderPlus.asmx"
                binding="basicHttpBinding" bindingConfiguration="WSCFDBuilderPlusSoap"
                contract="eKomercio33.WSCFDBuilderPlusSoap" name="WSCFDBuilderPlusSoap" />
            <endpoint address="https://paclax.stofactura.com:443/pac-sto-ws/cfdi33"
                binding="customBinding" bindingConfiguration="TimbradoPortBinding"
                contract="STO33.Timbrado" name="TimbradoPort" />
            <endpoint address="http://1cfdi.mx:8080/ws-app/SyscomCfdiTestWS33"
                binding="basicHttpBinding" bindingConfiguration="SyscomCfdiTestWSPortBinding"
                contract="Advans33.SyscomCfdiTestWS" name="SyscomCfdiTestWSPort" />
            <endpoint address="http://timbradosoap.testsolucionesdfacture.com/WSTimbradoSOAP.svc"
                binding="basicHttpBinding" bindingConfiguration="soapHttpEndpoint1"
                contract="DFactureRoma.IWSTimbradoSOAP" name="soapHttpEndpoint1" />
            <endpoint address="http://148.244.218.65/Cliente_SAT_CFDI_Web_Pruebas/Servicios/WSCFDICancelacion.asmx"
                binding="basicHttpBinding" bindingConfiguration="WSCFDICancelacionSoap"
                contract="eKomercioCancela.WSCFDICancelacionSoap" name="WSCFDICancelacionSoap" />
            <endpoint address="http://prueba.digitalfactura.com:84/wsdl/timbrado/timbre.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IServicioTimbrado"
                contract="DigitalFactura.IServicioTimbrado" name="BasicHttpBinding_IServicioTimbrado" />
            <endpoint address="http://prueba.digitalfactura.com:84/wsdl/cancelacion/Cancelar.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IService1"
                contract="CancelacionDigitalFactura.IService1" name="BasicHttpBinding_IService1" />
            <endpoint address="https://consultaqr.facturaelectronica.sat.gob.mx/ConsultaCFDIService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IConsultaCFDIService"
                contract="ConsultaSAT.IConsultaCFDIService" name="BasicHttpBinding_IConsultaCFDIService" />
            <endpoint address="https://cfdiws.sedeb2b.com/EdiwinWS/services/CFDi"
                binding="basicHttpBinding" bindingConfiguration="CFDiSoapBinding"
                contract="Edicom.CFDi" name="CFDi" />
            <endpoint address="https://www.masfacturaweb.com.mx:99/TimbradoCFDServiceExternal.asmx"
                binding="basicHttpBinding" bindingConfiguration="TimbradoCFDServiceExternalSoap"
                contract="MasterEdi33.TimbradoCFDServiceExternalSoap" name="TimbradoCFDServiceExternalSoap" />
            <endpoint address="http://caberserver.digitalfactura.com/wsdl/cancelacion/Cancelacion.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IService11"
                contract="DFCancelacion40.IService1" name="BasicHttpBinding_IService11" />
            <endpoint address="https://www.digitalfactura.com/wsdl/cancelacion/Cancelacion.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpsBinding_IService1"
                contract="DFCancelacion40.IService1" name="BasicHttpsBinding_IService1" />
            <endpoint address="http://caberserver.digitalfactura.com/wsdl/cancelacion/Cancelacion.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IService12"
                contract="STOCancelar.IService1" name="BasicHttpBinding_IService12" />
            <endpoint address="https://www.digitalfactura.com/wsdl/cancelacion/Cancelacion.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpsBinding_IService11"
                contract="STOCancelar.IService1" name="BasicHttpsBinding_IService11" />
            <endpoint address="http://timbradosoap33.testdfacture.com/WSTimbradoSOAP.svc"
                binding="basicHttpBinding" bindingConfiguration="soapHttpEndpoint"
                contract="SDFacture33.IWSTimbradoSOAP" name="soapHttpEndpoint" />
            <endpoint address="https://www.masfacturaweb.com.mx/CFDI/wsCFDI.asmx"
                binding="basicHttpBinding" bindingConfiguration="wsCFDISoap"
                contract="MasterEdi40.wsCFDISoap" name="wsCFDISoap" />
            <endpoint address="https://staging.ws.timbox.com.mx/cancelacion/action"
                binding="basicHttpBinding" bindingConfiguration="cancelacion_binding"
                contract="TimboxCancelacion.cancelacion_port" name="cancelacion_port" />
            <endpoint address="https://staging.ws.timbox.com.mx/timbrado_cfdi40/action"
                binding="basicHttpBinding" bindingConfiguration="timbrado_cfdi40_binding"
                contract="TimBox.timbrado_cfdi40_port" name="timbrado_cfdi40_port" />
            <endpoint address="http://148.244.218.65/WSCFDITimbrado_Pruebas/WSCFDITimbrado.asmx"
                binding="basicHttpBinding" bindingConfiguration="WSCFDITimbradoSoap"
                contract="eKomercio40.WSCFDITimbradoSoap" name="WSCFDITimbradoSoap" />
        </client>
    </system.serviceModel>
    <applicationSettings>
        <VentasBEFactElect.Properties.Settings>
            <setting name="VentasBEFactElect_FEAEWSAA_LoginCMSService" serializeAs="String">
                <value>https://wsaahomo.afip.gov.ar/ws/services/LoginCms</value>
            </setting>
            <setting name="VentasBEFactElect_FEARWSFEV1_Service" serializeAs="String">
                <value>https://wswhomo.afip.gov.ar/wsfev1/service.asmx</value>
            </setting>
            <setting name="VentasBEFactElect_FEARWSFEX_Service" serializeAs="String">
                <value>https://wswhomo.afip.gov.ar/wsfexv1/service.asmx</value>
            </setting>
            <setting name="VentasBEFactElect_FEARWSMTXCA_MTXCAService" serializeAs="String">
                <value>https://fwshomo.afip.gov.ar/wsmtxca/services/MTXCAService</value>
            </setting>
            <setting name="VentasBEFactElect_eBuzon_TimbradoCFDService" serializeAs="String">
                <value>https://192.168.110.106:443/services/TimbradoCFDService</value>
            </setting>
            <setting name="VentasBEFactElect_EdicomWR_CFDiService" serializeAs="String">
                <value>https://cfdiws.sedeb2b.com/EdiwinWS/services/CFDi</value>
            </setting>
            <setting name="VentasBEFactElect_FEARWSPadronA4_PersonaServiceA4"
                serializeAs="String">
                <value>https://awshomo.afip.gov.ar/sr-padron/webservices/personaServiceA4</value>
            </setting>
        </VentasBEFactElect.Properties.Settings>
    </applicationSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
