<?xml version="1.0" encoding="utf-8"?>
<SummaAdvConfig>
 <!-- Email de envio de Errores -->
 <Email ServidorSMTP="smtp.gmail.com" CuentaDesde="cuenta|usuario|clave|" CuentasDestino="eliasj@live.com.mx"/>
      <!-- Por GMAIL
          Email ServidorSMTP=smtp.gmail.com
          CuentaDesde=""
          CuentasDestino="soporte@quasarglobal.com"
          Empresa="Empresa" -->
      <!-- Usuario Validado
          Email ServidorSMTP="socrates"
          CuentaDesde="soporte@quasarglobal.com|ususario|clave|dominio"
          CuentasDestino="soporte@quasarglobal.com"
          Empresa="Empresa" -->
  <!-- Log de Errores (nombre del archivo log con si se quiere, la carpeta) -->
  <!--Log NombreArchivo="SummaAdvLog" PathArchivo="c:\Inetpub\wwwroot\SummaAdv\" /-->
  <mailsoportequasar Valor=""/>
  <mailsoportecliente Valor=""/>
  <mailsoporteproveedor Valor=""/>
  <Log NombreArchivo="SummaAdvLog" PathArchivo="c:\Temp\"/>
  <tipoversion Valor="P"/>
</SummaAdvConfig>
