<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="ProduccionReportes.Properties.Settings.MontanaAdvConnectionString"
            connectionString="Data Source=ARQUIMEDES\SQL2014;Initial Catalog=MontanaAdv;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="ProduccionReportes.Properties.Settings.RensaAdvConnectionString"
            connectionString="Data Source=pandemia;Initial Catalog=RensaAdv;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>