<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="ComprasReportes.Properties.Settings.SummaAdvConnectionString"
            connectionString="Data Source=ARGENTA;Initial Catalog=SummaAdv;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="ComprasReportes.Properties.Settings.SummaAdvConnectionString1"
            connectionString="Data Source=ARGENTA;Initial Catalog=SummaAdv;Persist Security Info=True;User ID=summalogin;Password=tatinga"
            providerName="System.Data.SqlClient" />
        <add name="ComprasReportes.Properties.Settings.SummaAdvConnectionString2"
            connectionString="Data Source=ARQUIMEDES\SQL2014;Initial Catalog=SummaAdv;User ID=summalogin;Password=tatinga"
            providerName="System.Data.SqlClient" />
        <add name="ComprasReportes.Properties.Settings.SummaAdvConnectionString3"
            connectionString="Data Source=ARQUIMEDES\SQL2014;Initial Catalog=SummaAdv;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="ComprasReportes.Properties.Settings.Sergio" connectionString="Data Source=DESKTOP-0NDVAPE\SQLEXPRESS;Initial Catalog=SummaAdv;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="ComprasReportes.Properties.Settings.Elias" connectionString="Data Source=DESKTOP-E87QDSS\SQL;Initial Catalog=SummaAdv;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="ComprasReportes.Properties.Settings.Elias2" connectionString="Data Source=.\Ysera;Initial Catalog=SummaAdv;User ID=sa"
            providerName="System.Data.SqlClient" />
        <add name="ComprasReportes.Properties.Settings.SummaAdvConnectionString4"
            connectionString="Data Source=PCJAVIER\SQL2014;Initial Catalog=SummaAdv;User ID=summalogin;Password=tatinga"
            providerName="System.Data.SqlClient" />
        <add name="ComprasReportes.Properties.Settings.RomaAdvConnectionString"
            connectionString="Data Source=ARGENTA;Initial Catalog=RomaAdv;Persist Security Info=True;User ID=summalogin"
            providerName="System.Data.SqlClient" />
        <add name="ComprasReportes.Properties.Settings.PumoAdvConnectionString"
            connectionString="Data Source=ARGENTA;Initial Catalog=PumoAdv;User ID=summalogin;Password=tatinga"
            providerName="System.Data.SqlClient" />
        <add name="ComprasReportes.Properties.Settings.SummaAdvQA" connectionString="Data Source=ALEPC\SQLEXPRESS2014;Initial Catalog=SummaAdvQA;Persist Security Info=True;User ID=sa"
            providerName="System.Data.SqlClient" />
        <add name="ComprasReportes.Properties.Settings.FultererAdvConnectionString"
            connectionString="Data Source=ARGENTA;Initial Catalog=FultererAdv;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="ComprasReportes.Properties.Settings.MontanaAdvConnectionString"
            connectionString="Data Source=ARQUIMEDES\SQL2014;Initial Catalog=MontanaAdv;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="ComprasReportes.Properties.Settings.Grupo2BYBConnectionString"
            connectionString="Data Source=Pandemia;Initial Catalog=Grupo2BYB;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="ComprasReportes.Properties.Settings.MoeltekAdvConnectionString"
            connectionString="Data Source=PANDEMIA;Initial Catalog=MoeltekAdv;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="ComprasReportes.Properties.Settings.DS9" connectionString="Data Source=DS9;Initial Catalog=Grupo2BYB;Persist Security Info=True;User ID=sa"
            providerName="System.Data.SqlClient" />
        <add name="ComprasReportes.Properties.Settings.FerguezDicAdvConnectionString"
            connectionString="Data Source=Pandemia;Initial Catalog=FerguezDicAdv;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="ComprasReportes.Properties.Settings.KloemecomAdvConnectionString"
            connectionString="Data Source=PANDEMIA;Initial Catalog=KloemecomAdv;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="ComprasReportes.Properties.Settings.RensaAdvConnectionString"
            connectionString="Data Source=pandemia;Initial Catalog=RensaAdv;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>