<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="GeneralesReportes.Properties.Settings.SummaAdvConnectionString"
            connectionString="Data Source=ARQUIMEDES\SQL2014;Initial Catalog=SummaAdv;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="GeneralesReportes.Properties.Settings.MontanaAdvConnectionString"
            connectionString="Data Source=ARQUIMEDES\SQL2014;Initial Catalog=MontanaAdv;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>