<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="KSKReporte.Properties.Settings.SummaAdvConnectionString"
            connectionString="Data Source=GPDINAMICOLITTL;Initial Catalog=SummaAdv;Persist Security Info=True;User ID=sa"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>